:root {
  --r-main-font-size: 24px;
  --r-heading-text-transform: none;
  --r-heading1-size: 2.4em;

  --box-color: rgba(255, 255, 255, 0.35);
}

.reveal section.main-title {
  top: 0 !important;
}

.reveal .slide-background-content:has(video) {
  aspect-ratio: 48 / 27;
  height: 100vh;
  width: auto;
}

@media (max-width: 1200px) {
  .reveal .slide-background-content:has(video) {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}

.reveal section.order-of-sections {
  h2 {
    border-radius: 8px;
    margin-block: 0.5rem;
    outline-offset: 4px;
    padding: 0.25em 0.5em;
    text-align: left;
    transition: all 0s;
  }

  h2 + h2 {
    margin-left: 4rem;
  }

  h2 + h2 + h2 {
    margin-left: 8rem;
  }

  h2 + h2 + h2 + h2 {
    margin-left: 12rem;
  }

  h2 + h2 + h2 + h2 + h2 {
    margin-left: 16rem;
  }
}

.fragment.order-of-sections.current-fragment {
  background-color: var(--box-color);
  outline: 2px solid var(--box-color);
  text-shadow: 0 0 12px black;
}

.reveal
  .slide-background-content:has(
    iframe[src="assets/bokeh/dg_poem_comparison.html"]
  ) {
  --margin-top: 12%;
  --margin-bottom: 5%;
  --margin-left: 5%;
  --margin-right: 5%;

  height: calc(100% - var(--margin-bottom) - var(--margin-top));
  left: var(--margin-left);
  top: var(--margin-top);
  width: calc(100% - var(--margin-left) - var(--margin-right));
}

.reveal h1 {
  background-color: var(--box-color);
  border-radius: 8px;
  outline: 2px solid var(--box-color);
  outline-offset: 4px;
  padding: 0.25em 0.5em;
  text-shadow: 0 0 12px black;
}

.reveal h2 {
  margin-block: 0 2rem;
  text-align: center;
}

.reveal :is(.headshots, .screenshots) {
  background-color: var(--box-color);
  border-radius: 8px;
  outline: 2px solid var(--box-color);
  outline-offset: 4px;

  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
  flex-wrap: wrap;

  color: var(--r-selection-color);
  text-shadow: 0 0 12px black;

  img {
    border-radius: 8px;
    display: block;
    height: 180px;
    margin: 1rem auto;
    box-shadow: 0 0 12px black;
  }
}

.reveal .logos {
  border-radius: 8px;
  outline: 2px solid var(--box-color);
  outline-offset: 4px;

  p {
    display: grid;
    gap: 0.5rem 0;
    align-items: center;
    justify-items: center;
    padding: 1rem 0;
    grid-template-areas:
      "TAPS CIDR"
      "SUL SUL";
  }

  img {
    margin: 0;
  }

  [alt="TAPS"] {
    height: 130px;
    margin-right: -5rem;
    margin-top: 1rem;
  }

  [alt="CIDR"] {
    margin-left: -5rem;
    margin-top: -0.5rem;
    height: 150px;
  }

  [alt="SUL"] {
    grid-area: SUL;
    height: 60px;
  }
}

.reveal .img-row {
  display: flex;
  gap: 2rem;
  justify-content: center;

  img {
    display: block;
    margin: 1rem 0;
  }
}

.reveal .slides section .fragment:first-child {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.reveal p:has([alt="Platform Diagram"]) {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--box-color);
  border-radius: 8px;
  outline: 2px solid var(--box-color);
  outline-offset: 4px;
  padding: 0.5em 0.75em;

  img,
  svg {
    grid-row-start: 1;
    grid-column-start: 1;
    margin: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }

  rect {
    transition: all ease 0.5s;
  }
}
